@model DetailsVM

@{
    ViewBag.Title = "Employees Details";
}

<h4>ID: <i>@Model.Id</i></h4>
<h4>Name: <i>@Model.Name</i></h4>
<h4>E-mail: <i>@Model.Email</i></h4>
<h4>Salary: <i>@Model.Salary</i></h4>