@model IndexVM

@{
    ViewBag.Title = "Employees List";
}

<ul>
    @foreach (var employee in Model.EmployeeVMs)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id" style="color:@(employee.ShowAsHighlighted ? "red" : "inherit");">@employee.Name</a>
        </li>
    }
</ul>